@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');

@import 'tailwindcss';

@theme {
  --font-body: 'STIX Two Text', ui-serif, system-ui, serif;
}

@layer base {
  html {
    font-family: var(--font-body);
  }
}

.container {
  margin: 0 auto;
  max-width: 1600px;
  padding: 0 16px;
}
