@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');

@import 'tailwindcss';

@theme {
  /* Fonts (families) */
  --font-body: 'STIX Two Text', ui-serif, system-ui, serif;
  --font-title: 'Noto Serif', ui-serif, system-ui, serif;

  /* Font sizes */
  --text-sm: 0.875rem; /* 14px */
  --text-md: 1rem; /* 16px */
  --text-lg: 1.375rem; /* 22px */
  --text-xl: 2rem; /* 32px */
  --text-2xl: 2.25rem; /* 36px */

  /* Line heights */
  --leading-am: 2rem; /* 32px */
  --leading-md: 1.75rem; /* 28px */
  --leading-lg: 2.125rem; /* 34px */
  --leading-xl: 4.125rem; /* 66px */
  --leading-2xl: 4.125rem; /* 66px */

  /* Colors */
  --color-white: #fff;
  --color-text: #0d1624;
  --color-grey-800: #334154;
  --color-grey-400: #475569;
}

@layer base {
  html {
    font-family: var(--font-body);
  }

  body {
    background-color: var(--color-white);
    color: var(--color-text);
    font-size: var(--text-md);
    line-height: var(--leading-md);
  }

  p {
    margin: 13px 0;
  }

  h1 {
    font-size: var(--text-2xl);
    line-height: var(--leading-2xl);
    color: var(--color-grey-800);
  }
}

.container {
  margin: 0 auto;
  max-width: 1632px;
  padding: 0 16px;
}
